.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 3rem;
}

.wrapper p {
  font-size: 2rem;
}

.wrapper p a {
  color: var(--primary);
}

.wrapper p a:hover {
  filter: brightness(80%);
}
